$font-1: Arial, Helvetica, sans-serif;

$color-1: aqua;
$color-2: white;
$color-3: black;
$color-4: rgb(32, 35, 42);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0.4rem auto;
    max-width: 1296px;
    font-family: $font-1;
    color: $color-3;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: $color-3;
    cursor: pointer;
}
a:visited {
    color: $color-3;
}
